@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
* {
  padding: 0%;
  margin: 0%;
  border: 0;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Lato;
  background-color: #4d4a5a;
}

.content {
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1600px;
  height: 800px;
  background: url("../img/backgrounds/bg_top.png") no-repeat;
}

.top__background {
  background: url("../img/backgrounds/bg_top.png") no-repeat;
}

.top__row {
  width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0px 0px 0px;
}

.top__left {
  width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  max-width: 1600px;
  margin: 0px auto;
}

.item {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.item a {
  color: #4d4959;
}

.item__row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 210px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__row2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 210px;
}

.gen {
  background-color: #f7f7f7;
  height: 469px;
  width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gen__body {
  max-width: 1090px;
  text-align: center;
}

.gen__icon {
  margin: 0px 0px 35px 0px;
}

.gen__title {
  margin: 0px 0px 35px 0px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
}

.gen__text {
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: #848789;
}

.gallery1__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.gallery1__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery1__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
  background-color: white;
}

.gallery1__icon {
  margin: 0px 0px 30px 0px;
}

.gallery1__title {
  margin: 0px 0px 25px 0px;
}

.body__title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
}

.body__text {
  text-align: justify;
  max-width: 400px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #848789;
}

.gallery2__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.gallery2__left {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.gallery2__right {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery2__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
  background-color: white;
}

.gallery2__icon {
  margin: 0px 0px 30px 0px;
}

.gallery2__title {
  margin: 0px 0px 25px 0px;
}

.gallery3__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.gallery3__left {
  background: url("../img/backgrounds/rectangle__left__gallery3.png") no-repeat;
  width: 535px;
}

.gallery3__main-img1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 267px 0px;
}

.gallery3__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
  background-color: white;
}

.gallery3__icon {
  margin: 0px 0px 30px 0px;
}

.gallery3__title {
  margin: 0px 0px 25px 0px;
}

.aod {
  background-color: #f7f7f7;
  height: 469px;
  width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aod__body {
  text-align: center;
  max-width: 1040px;
}

.aod__icon {
  margin: 0px 0px 35px 0px;
}

.aod__title {
  margin: 0px 0px 27px 0px;
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #353738;
}

.aod__title span {
  font-weight: 300;
  color: #848789;
}

.aod__text {
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: #848789;
  margin: 0px 0px 105px 0px;
}

.aod__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aod__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pages-item__1 {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: #a9afb3;
}

.pages-item__2 {
  border: 1px solid #c8c8c8;
  height: 11px;
  width: 11px;
  border-radius: 50%;
}

.shop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop__left {
  max-height: 534px;
  max-width: 534px;
}

.shop__add-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop__mid {
  max-height: 534px;
  max-width: 534px;
}

.shop__main-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop__right {
  max-height: 533px;
  max-width: 534px;
}

.shop__add-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.discover {
  width: 1600px;
  height: 200px;
  background-color: #282f35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discover__btn {
  width: 300px;
  height: 50px;
  background-color: #282f35;
  color: rgba(255, 255, 255, 0.49);
  border: 1px solid rgba(255, 255, 255, 0.49);
  position: relative;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.discover__btn:hover {
  background-color: rgba(255, 255, 255, 0.49);
  color: black;
  border: none;
}
